#' @title Dummy dummy dummy
#' @description
#' Dummy component for testing purposes.
#' Assigns a constant value to a variable.
#'
#' @param domain `character` Name of the domain
#' @param variable `character` Name of variable to create
#' @param value Value to assign
#' @type column
#' @origin Assigned
#' @method Constant value assigned to all records
#' @outputs {{variable}}
#' @code
{{domain}}[["{{variable}}"]] <- {{{value}}}
